/*================ Collections ================*/
.collection_desc {
	margin-bottom: 1rem;
}
.collection_title {
	background: #dbd7fd;
	padding: .5rem 1%;
	text-align: center;
	font-size: 1.75em;
	font-style: italic;
	font-weight: bold;
	border: 1px #cbcbcb solid;
}
