/*================ Site Footer ================*/
footer {
	padding: 2rem 0 5rem;
	background: #d7e9fd;
}

.footer_social {
	list-style: none;
}
.footer_social li {
	display: inline-block;
	margin: 0 .5rem;
}