<div>
    <h2>{{ block.settings.coachingTitle }}</h2>
    <div class="why_coaching">
        {{ block.settings.coachingSummary }}
    </div>
    <div class="why_coaching_img">
        <img src="{{ block.settings.coachingImage | img_url: '2000x' }}" alt="Hey, Coach!">
    </div>
</div>
